{% load i18n %}
<div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
            <tr>
                <th># </th>
                <th> Name</th>
                <th> Surname </th>
                <th> Email </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>

             {% for user in list_users  %}
                 <tr>
                     <td><strong>{{ forloop.counter }}.-</strong></td>
                     <td> {{ user.first_name }} </td>
                     <td> {{ user.last_name }}  </td>
                     <td> {{ user.email }} </td>
                     <td><a data-email="{{ user.email }}" href="javascript:;"
                            class="btn btn-outline btn-circle btn-sm purple view_user_edit">
                         <i class="fa fa-edit"></i>{% trans "Edit" %}</a></td>
                 </tr>
             {% empty %}
                 <tr>
                     <td colspan="4" class="text-center">
                         {% trans "Sorry, not result in this list." %}
                     </td>
                 </tr>
             {% endfor %}

        </tbody>
    </table>
</div>
