{% load i18n %}
<div class="portlet-title">
    <div class="caption">
        <i class="icon-settings font-dark"></i>
        <span class="caption-subject font-dark sbold uppercase">
            {% if not btn_edit %}
                 {% trans "Create User Profile" %}
            {% else %}
                 {% trans "Edit User Profile" %}: {{ form_user.email.value }}
            {% endif %}

        </span>
    </div>

</div>
<div class="portlet-body form">
    <div class="form-body">
        <form id="form_user_profile" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="email_errors" class="form-group">
                <label class="col-md-3 control-label">{% trans "E-mail" %}</label>
                <div class="col-md-9">
                    <div class="input-inline">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            {{ form_user.email }}
                        </div>
                    </div>
                    <span class="help-inline">{{ form_user.email.errors }}</span>
                </div>
            </div>
            <div id="password1_errors" class="form-group">
                <label class="col-md-3 control-label">{% trans "Password" %}</label>
                <div class="col-md-9">
                    <div class="input-inline">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            {{ form_user.password1 }}

                        </div>
                    </div>
                    <span class="help-inline">{{ form_user.password1.errors }}</span>
                </div>
            </div>
            <div id="password2_errors" class="form-group">
                <label class="col-md-3 control-label">{% trans "Re-Password" %}</label>
                <div class="col-md-9">
                    <div class="input-inline">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            {{ form_user.password2 }}
                        </div>
                    </div>
                    <span class="help-inline">{{ form_user.password2.errors }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "First Name" %}</label>
                <div class="col-md-9">
                    {{ form_user.first_name }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Last Name" %}</label>
                <div class="col-md-9">
                    {{ form_user.last_name }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Cell" %}</label>
                <div class="col-md-9">
                    {{ form_profile.cell }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Company" %}</label>
                <div class="col-md-9">
                    {{ form_profile.company }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Document Type" %}</label>
                <div class="col-md-9">
                    {{ form_profile.document_type }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Document Number" %}</label>
                <div class="col-md-9">
                    {{ form_profile.document_number }}
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-5 col-md-7">
                        {% if not btn_edit %}
                            <button type="submit" class="btn green">{% trans "Submit" %}</button>
                            <button type="button" class="btn default clean_field">{% trans "Cancel" %}</button>
                        {% else %}
                            <button type="button" id="view_user_update" data-id="{{ form_pk }}" class="btn green">{% trans "Update" %}</button>
                            <button type="button" class="btn default reload_page">{% trans "Exit" %}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.level_tag}}">
                         {{msg.message|safe}}.
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
