{% extends "base2.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load filter %}
{% block css_page %}
 <link href="{% static "assets/pages/css/login-5.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock css_page %}

{% block class_body  %}class="login"{% endblock class_body  %}

{% block content %}
   {% block contanier  %}
        <div class="user-login-5">
            <div class="row bs-reset">
                <div class="col-md-6 bs-reset">
                     {% load staticfiles %}
                    <div class="login-bg" style="background-image:url({% static 'assets/pages/img/login/bg1.jpg' %})">
                        <img class="login-logo" src="{% static 'assets/pages/img/login/logo.png' %}" />
                    </div>
                </div>
                <div class="col-md-6 login-container bs-reset">
                    <div class="login-content">
                        <h1>{{ title }}</h1>
                        <form class="forget-form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="font-green">Password Change</h3>
                            <div class="form-group">
                                <input id="new_password1" name="new_password1" class="form-control placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input id="new_password2" name="new_password2" class="form-control placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Repeat Password" />
                            </div>
                            <div class="form-actions">
                                <a href="{% url 'auth_login' %}" class="btn grey btn-default">Back</a>
                                <button id="btn-reset-password" type="submit" class="btn blue btn-success uppercase pull-right">Submit</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
   {% endblock contanier  %}
   {% block js %}
       {{ block.super }}
   {% endblock js  %}
   {% block js_plugins  %}
        <script src="{% static "assets/global/plugins/jquery-validation/js/jquery.validate.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/global/plugins/jquery-validation/js/additional-methods.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/global/plugins/backstretch/jquery.backstretch.min.js" %}" type="text/javascript"></script>
   {% endblock js_plugins  %}
   {% block js_app  %}
        <script src="{% static "assets/pages/scripts/login-5.min.js" %}" type="text/javascript"></script>
   {% endblock js_app  %}

{% endblock content %}

