<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "js/vendor/bootstrap/dist/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" >
</head>
<body>

{% block content %}
{% endblock content %}

{% block extrajs %}

<script src="{% static "js/vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "js/vendor/jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "js/vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src=""></script>
{% endblock extrajs %}
</body>
</html>